### An example of tagging EDUCATION in resume using [spaCy's Rule-based matching](https://spacy.io/usage/rule-based-matching)

In [2]:
import pandas as pd
import numpy as np
import re, string
import spacy
from spacy.matcher import Matcher

In [3]:
# Download the dataset from here: https://www.kaggle.com/samdeeplearning/deepnlp
# It's a rather small dataset but good for demonstration purposes. 
resume_df = pd.read_csv('../data/Sheet_2.csv', encoding = "ISO-8859-1")
resume_df.head()

  resume_id        class                                        resume_text
0  resume_1  not_flagged  \rCustomer Service Supervisor/Tier - Isabella ...
1  resume_2  not_flagged  \rEngineer / Scientist - IBM Microelectronics ...
2  resume_3  not_flagged  \rLTS Software Engineer Computational Lithogra...
3  resume_4  not_flagged   TUTOR\rWilliston VT - Email me on Indeed: ind...
4  resume_5      flagged  \rIndependent Consultant - Self-employed\rBurl...

In [91]:
resume_df['resume_text_pp'] = resume_df['resume_text'].apply(lambda x: re.sub(r'\r', '\n', x))

In [93]:
resume_df.head()

,resume_id,class,resume_text,resume_text_pp
0,resume_1,not_flagged,\rCustomer Service Supervisor/Tier - Isabella ...,\nCustomer Service Supervisor/Tier - Isabella ...
1,resume_2,not_flagged,\rEngineer / Scientist - IBM Microelectronics ...,\nEngineer / Scientist - IBM Microelectronics ...
2,resume_3,not_flagged,\rLTS Software Engineer Computational Lithogra...,\nLTS Software Engineer Computational Lithogra...
3,resume_4,not_flagged,TUTOR\rWilliston VT - Email me on Indeed: ind...,TUTOR\nWilliston VT - Email me on Indeed: ind...
4,resume_5,flagged,\rIndependent Consultant - Self-employed\rBurl...,\nIndependent Consultant - Self-employed\nBurl...

In [95]:
print(resume_df['resume_text_pp'][3])

 TUTOR
Williston VT - Email me on Indeed: indeed.com/r/Alec-Schwartz/7177c11327372c0a
WORK EXPERIENCE
Tutor
Dickinson College Biology Department - Carlisle PA - March 2016 to May 2016
I was invited to tutor three students enrolled in Biology 120: Life at the Extremes. I helped them learn as independently as possible while still acting as a mentor and guide.
Teaching Assistant
Dickinson College Biology Department - Carlisle PA - January 2016 to May 2016
Taught by Professor Scott Boback this comparative physiology course explored how extremophiles are capable of surviving and maintaining
homeostasis in harsh environments. I helped students perform hypothesis-driven physiology experiments and vertebrate dissections.
QA/QC Laboratory Coordinator
Alliance for Aquatic Resource Monitoring (ALLARM) - Carlisle PA - August 2015 to May 2016
ALLARM a small NGO housed at Dickinson college engages communities to use science as a tool to investigate the health of their streams. I helped
mentor organizations to teach them to use the data they generate for aquatic protection and restoration efforts. I mainly worked in the lab performing
chemical tests for quality assurance verification. I also currently research and test equipment to verify precision accuracy and accessibility for citizen
scientists as well as conducting bimonthly baseline analysis of our local Retort Spring Run.
First-Year Mentor Wilderness Introduction to Life at Dickinson (WILD) Leader
Campus Life at Dickinson College - Carlisle PA - August 2013 to May 2016
The First-Year Mentor program provides an opportunity for upper-level students to help new students experience a positive transition to college. I met with my First-Year Interest Group weekly to check in on their personal social and intellectual development at Dickinson. Last Fall I led a 3-day
backpacking trip through a section of the Delaware Water Gap during orientation. After one of my first-year's suddenly passed away in the Fall '15 I co- led a partnership between Dickinson and our local YMCA's Safety Around Water Program to provide help during outreach enrollment and swim lessons. It has given our community a meaningful way to commemorate the life of Jigme Nidup.
Customer Experience Intern
NaviNet - Boston MA - June 2015 to August 2015
NaviNet is America's leading healthcare collaboration network connecting over 40 health plans and 60% of the nation's physicians. I worked as a
Customer Experience Intern drafting user-experience reports and presentations for NaviNet and health insurance plans to showcase how health providers were using different software products.
Student Researcher
Dickinson College Chemistry Department - Carlisle PA - March 2015 to May 2015

Professor Mike Holden's interests are in the area of organotransitionmetal-mediated synthesis of organic compounds. In his lab I worked to synthesize
known biologically active compounds with the incorporation of ferrocene (an iron compound) to potentially boost efficacy of antimalarials.
Student Researcher
Ben-Gurion University of the Negev Jacob Blaustein Institute for Desert Research - Midreshet Israel - November 2014 to January 2015
Species adapted to fasting sequentially oxidize fuels in three discrete phases. Professor Berry Pinshow's lab is exploring the physiological
responses to food deprivation in House and Spanish sparrows (birds not adapted to prolonged fasting). For two months I helped prepare dietary isotopic tracers run 32 hour-long experiments requiring hourly measurements for stable isotope signatures in real-time using a 13C-infrared analyzer (HeliFANplus) and interpret collected data using repeated measures (RM)-ANOVA.
Paper: Khalilieh A McCue MD Pinshow B. Physiological responses to food deprivation in the house sparrow a species not adapted to prolonged fasting. Am J Physiol Regul Integr Comp Physiol. 303: R551-R561 2012.
EDUCATION
BS in Biochemistry and Molecular Biology
Dickinson College - Carlisle PA 2012 to 2016
SKILLS
NMR LCMS HPLC qPCR Gel Electrophoresis Western Blot Transfection various microscopy techniques (DIC Phase Contrast Brightfield Darkfield Fluorescent) recombinant DNA Plasmid Cloning Pymol CRISPR Cas9
LINKS http://blogs.dickinson.edu/writingsciencenewssp14/author/schwaral
AWARDS
Cum Laude for BS in Biochemistry and Molecular Biology
May 2016
Maintained an overall GPA of >3.50 throughout my time at Dickinson College.

In [104]:
s1 = r'EDUCATION AAS in Visual Arts \n Westchester Community College - New York NY School knowledge'
s2 = r'EDUCATION Bachelors in Business Technology and Management \nVermont Technical College'
s3 = r'EDUCATION BS in Biochemistry and Molecular Biology \nDickinson College - Carlisle PA 2012 to 2016'

In [105]:
nlp = spacy.load('en_core_web_sm')

In [132]:
doc = nlp(s1)

In [133]:
for tok in doc:
    print(tok.text, " ", tok.dep_, " ", tok.pos_)

EDUCATION   compound   PROPN
AAS   ROOT   PROPN
in   prep   ADP
Visual   compound   ADJ
Arts   compound   NOUN
\n   pobj   SPACE
Westchester   compound   PROPN
Community   compound   PROPN
College   compound   PROPN
-   punct   PUNCT
New   compound   PROPN
York   compound   PROPN
NY   compound   PROPN
School   compound   PROPN
knowledge   ROOT   NOUN

In [134]:
doc.ents

()

In [135]:
### Rule-based information extraction 
pattern = [
    {'TEXT': 'EDUCATION'}, 
    {'TEXT':  {"REGEX": "(Bachelors)|(Masters)|([A-Za-z.]+)"}}, 
    {'POS': "ADP"}, 
    {'IS_TITLE': True, "OP":'+'},
    {'TEXT': "and", "OP":"?"}, 
    {'IS_TITLE': True, "OP":'+'}    
]

In [136]:
matcher = Matcher(nlp.vocab, validate=True)
matcher.add("match1", None, pattern)

In [137]:
matches = matcher(doc)

In [138]:
matches

[(12981744483764759145, 0, 5)]

In [140]:
doc[matches[0][1]:matches[0][2]]

EDUCATION AAS in Visual Arts